@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Kannada:wght@100..900&family=Walter+Turncoat&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.kannada {
    font-family: "Noto Serif Kannada", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Winter theme */
@plugin "daisyui/theme" {
    name: "winter";
    default: true;
    /* set winter as default */

    default: true;
    /* set as default */
    prefersdark: false;
    /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light;
    /* color of browser-provided UI */
}

/* Halloween theme */
@plugin "daisyui/theme" {
    name: "halloween";
    /* prefersdark: true; */
    color-scheme: dark;
}


/* Classes to use */
.animate-slide-in {
    animation: slide-in-right 0.25s ease-out forwards;
}

.animate-slide-out {
    animation: slide-out-right 0.25s ease-in forwards;
}